{
  "arrowParens": "always",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": false,
  "printWidth": 140,
  "tabWidth": 2,
  "endOfLine": "auto"
}
